<div
  class="w-100"
  style="height: 100vh; background-color: var(--spectra-grey);"
>
  <div class="container h-100 p-0">
    <div class="row h-10 m-0">
        <div class="col-lg-12 my-auto text-center">
            <h3 class="tex">Seleccione una sede</h3>
        </div>
    </div>
    <div class="row h-90 m-0" style="overflow-y: auto;">
      <div class="col-lg-12 my-auto">
        <div class="row">
          <div class="col-lg-5 text-center col-brand">
            <img
              src="assets/img/testing/firefox.png"
              class="rounded mx-auto d-block brand"
            />
          </div>
          <div class="col-lg-7 col-brand my-auto">
            <div class="row">
              <div class="col-lg-4 my-auto text-center">
                <h6 class="spectra-link tex">
                  <fa-icon [icon]="dot"></fa-icon> Nombre de sede
                </h6>
              </div>
              <div class="col-lg-4 my-auto text-center">
                <h6 class="spectra-link tex">
                  <fa-icon [icon]="dot"></fa-icon> Nombre de sede
                </h6>
              </div>
              <div class="col-lg-4 my-auto text-center">
                <h6 class="spectra-link tex">
                  <fa-icon [icon]="dot"></fa-icon> Nombre de sede
                </h6>
              </div>
              <div class="col-lg-4 my-auto text-center">
                <h6 class="spectra-link tex">
                  <fa-icon [icon]="dot"></fa-icon> Nombre de sede
                </h6>
              </div>
              <div class="col-lg-4 my-auto text-center">
                <h6 class="spectra-link tex">
                  <fa-icon [icon]="dot"></fa-icon> Nombre de sede
                </h6>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12 my-auto">
        <div class="row">
          <div class="col-lg-5 text-center col-brand">
            <img
              src="assets/img/testing/nintendo.png"
              class="rounded mx-auto d-block brand"
            />
          </div>
          <div class="col-lg-7 col-brand"></div>
        </div>
      </div>
    </div>
  </div>
</div>
